doctype html
html
  head
    title Login to use the FCC-Nightlife app.
    link(href='/public/css/main.css', rel='stylesheet', type='text/css')
  body
    .container
      .login
        img.fcc_icon(src='/public/img/fcc-logo.png')
        br
        p.clementine-text PlanUrNight
        a(href='/auth/facebook')
          #login-btn.btn
            img.facebook_icon(src='/public/img/facebook_icon.png', alt='facebook logo')
            p LOGIN WITH FACEBOOK
